.amend_cancel_page {
    margin-top:-60px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;

    @include media($desktop) {
        margin-top:-40px;
        width:auto;
        margin-right:0;
        margin-left:0;
        margin-bottom:400px;
    }

    .main_heading {
        text-align:center;
        color:#333;
        font-family:MaryAnnRegular, open-sans, sans-serif;
        font-size:2.4rem;
        margin-bottom:20px;

        @include media($desktop) {
            font-size:3rem;
            margin-bottom:40px;
        }
    }

    .cta {
        text-align:center;
        margin-bottom:40px;

        .amend {
            font-family:MaryAnnRegular, open-sans, sans-serif;
            color:#FFF;
            border-radius:25px;
            background-color:#910048;
            width:280px;
            display:block;
            font-size:1.8rem;
            text-align:center;
            padding-top:7px;
            padding-bottom:9px;
            margin-bottom:20px;
            margin-right: auto;
            margin-left: auto;

            @include media($desktop) {
                width:220px;
                display:inline-block;
                margin-right:0;
                margin-left:0;
            }

            &:hover {
                text-decoration:none;
            }
        }

        .cancel {
            width:280px;
            background-color:#CCC;
            color:#000;
            border-radius:25px;
            font-family:MaryAnnRegular, open-sans, sans-serif;
            display:block;
            font-size:1.8rem;
            text-align:center;
            padding-top:7px;
            padding-bottom:9px;
            margin-bottom:20px;
            margin-right: auto;
            margin-left: auto;

            @include media($desktop) {
                width:220px;
                display:inline-block;
                margin-left:0;
                margin-right:100px;
            }

            &:hover {
                text-decoration:none;
            }
        }
    }

    .message {
        font-size:1.8rem;
        font-family:MaryAnnRegular, open-sans, sans-serif;
        color:#333;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        margin-bottom: 40px;
        text-align: justify;
        &.small_message {
            text-align:center;
        }

        @include media($desktop) {
            width: 650px;
        }
    }

    .need_to_cancel_instore {
        color:red;
        background-color:#e9e9e9;
        padding:20px;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        font-size:1.6rem;
        margin-bottom:40px;
        font-family:MaryAnnRegular, open-sans, sans-serif;

        .tooltip-icon {
            margin:0 5px 0 0;
        }

        @include media($desktop) {
            width: 650px;
        }
    }

    .flash-notice{

        position:relative;
        background-color:#e9e9e9;
        padding:2px 20px 20px 20px;
        color: red;
        line-height: 2.25rem;

        @include media($tablet) {
            width:620px;
            margin:20px auto 0 auto;
        }

        .tooltip-icon{
            position:absolute;
            top:26px;
            left:20px;
            z-index: 1;
        }

        h2{
            margin-left:30px;
        }

        p{
            font-size: 1.4rem;
            margin-left: 30px;
        }
    }
}
