.order-login,
.store-login{

    margin-top: -80px;
    padding:10px 0 30px 0;

    @include media($tablet) {
        margin-top: -50px;
        padding: 0 0 30px 0;
    }

    .flash-notice{

        position:relative;
        background-color:#e9e9e9;
        padding:2px 20px 20px 20px;
        color: red;

        @include media($tablet) {
            width:620px;
            margin:20px auto 0 auto;
        }

        .tooltip-icon{
            position:absolute;
            top:26px;
            left:20px;
            z-index: 1;
        }

        h2{
            margin-left:30px;
        }

        p{
            font-size: 1.4rem;
        }
    }

    h1,h3{
        text-align: center;
    }

    .form-wrapper{   

        min-height: auto;

        @include media($tablet) {
            width:300px;
            margin:0 auto;
        }

        fieldset{
            display: block;
            padding:0;
            width:100%;
            border:none;
            margin:0 0 30px 0;
            position:relative;
        }

        label,input,.btn{
            width:100%;
            display: block;
        }

        label{

            font-size: 1.6rem;
            margin: 0 0 10px 10px;
        }

        form.error input{
            border-color: red;
        }
        
        .btn{
            font-size: 1.8rem;
        }

        .tip{
            position:absolute;
            top:0;
            right:0;
        }

        .tip p{
            position:absolute;
            width:200px;
            padding:10px;
            background-color:white;
            border:1px solid #BBB;
            box-shadow:0 0 5px rgba(0,0,0,0.3);
            right:-5px;
            top:30px;
            display: none;
            z-index:999;

            &:before{
                top:-12px;
                right:10px;
                position:absolute;
                content: "";
                @include arrow(12px,'up',#BBB,0.8);
            }
            &:after{
                top:-10px;
                right:11px;
                position:absolute;
                content: "";
                @include arrow(10px,'up',white,0.8);
            }

            @include media($tablet) {

                right:-80px;

                &:before{right:94px;}
                &:after{right:95px;}
            }
        }

        .tip:hover p{
            display: block;
        }
    }
}

.store-login{

    .button-wrapper{

        margin:0 auto;
        display: table;
    }

    button{
        
        width:280px;
        display: inline-block;
        font-size:1.8rem;
        padding-top:7px;
        padding-bottom:9px;
        margin-right: 0;
    }
}

.terms {
    h3 {
        margin: 15px 0 10px 0;
    }

    .tcs-list {

        li {
            margin: 0 0 10px 10px
        }

        ul {
            margin-left: 20px;
        }

        strong {
            font-family: MaryAnnBold, sans-serif;
        }

        a {
            text-decoration: underline;
        }
    }
}

#skip-link {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus{

    top:0;
    height:auto;
    width:auto;
  }
}

