$bodyText : #333;
$white : #fff;
$lightGreyBorder : #dddedd;
$lightGrey : #acacac;
$mediumGrey : #959595;
$darkGrey : #565656;
$listItemBorder : #cecece;
$orange : #f39000;
$green : #76B72A;
$green_tick : #249124;
$bodyGrey : #F8F8F8;
$traffic-lights-orange : #f68321;
$traffic-lights-green : #6dba4a;
$traffic-lights-red : #e00000;
$gold : #b9a774;
$purple : #910048;
$marginBottom: 10px;
$error : #e42313;
$borderRadius : 20px;
$buttonWidth : 220px;

$buttonColour : #910048;
$buttonText : #fff;
$buttonColourHover : #6a0035;
$buttonColourDisabled : #d691ad;
$buttonTextDisabled : #ebcdd9;
$buttonColourSecondary : #ccc;
$buttonTextSecondary : #3d3d3d;
$buttonHoverSecondary : #b3b3b3;
$buttonColourSecondaryDisabled : #eee;
$buttonTextSecondaryDisabled : #777;

